<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:AXi+IBFffA0Fn1oNU1TQHTkEA9B1Rag+sMjInD17x8I=" force="true"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array" force="true"/>
        <env name="DB_CONNECTION" value="mysql" force="true"/>
        <env name="DB_HOST" value="127.0.0.1" force="false"/>
        <env name="DB_PORT" value="3306" force="false"/>
        <env name="DB_DATABASE" value="salondesk_testing" force="true"/>
        <env name="DB_USERNAME" value="salondesk" force="false"/>
        <env name="DB_PASSWORD" value="secret" force="false"/>
        <env name="DB_URL" value="" force="true"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync" force="true"/>
        <env name="SESSION_DRIVER" value="array" force="true"/>
        <env name="BILLING_DRIVER" value="fake" force="true"/>
        <env name="AI_BOOKING_DRIVER" value="fake" force="true"/>
        <env name="STRIPE_KEY" value="" force="true"/>
        <env name="STRIPE_SECRET" value="" force="true"/>
        <env name="STRIPE_WEBHOOK_SECRET" value="whsec_test_secret" force="true"/>
        <env name="OPENAI_API_KEY" value="" force="true"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
